.profilebody{
    display: flex;
    margin-top: 150px;
}

@media only screen and (max-width: 800px){
    .profilebody{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
    }
}

@media only screen 
    and (min-device-width : 330px) 
    and (max-device-width : 740px){
    .profilebody{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
}

@media only screen 
and (min-width: 280px)
and (max-width: 320px){
    .profilebody{
        display: flex;
        flex-direction: column;
      margin-left: -1%;
     }
} 