
.projectcontent{
/* border: 1px solid black; */

    
display: flex;
flex-wrap: wrap;
min-width: 300px;
justify-content: space-around;
color: white;

}
.h1{
    text-align: center;
}




/* 
@media only screen and (max-width: 1400px) {


} */